
@{
    ViewData["Title"] = "Checks";
}

<h2>Checks</h2>

<h3>
    We've already got your info from when you registered, so all you have to do is <br />
    tell us if you'd like us to supply fliters from your registered info, and when you would be available.<br />
    If you dont let us know if youd like filtes, we will assume that you already have filters on-hand<br />
    Once done, we will contact you to let you know when we will be out service your unit/'s!
</h3>

<h3>So just fill out any information youd like us to know below, and then we will contact you shortly!</h3>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <form method="post" action="SubmitCheckForm" alert ="Thank you for submitting your season check!">
                <textarea name="memo" class="memo" id="memo" runat="server" rows="3" cols="40"></textarea>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>