
@model Domain.CustomerChat
@{
    ViewData["Title"] = "Index";
}
    
<h2>Welcome @Model.Customer.FirstName</h2>


<div class="row">
    <div class="col-md-4">
        <h3>Is something wrong with your system? Click on the button below to get started!</h3>
        <a asp-area="" asp-controller="Customer" asp-action="Service">Service Call</a>


        <h3>Just need your seasonal check up? Click on the button below to get started!</h3>
        <a asp-area="" asp-controller="Customer" asp-action="Checks">Seasonal Check</a>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <iframe allow="microphone;"
                width="350"
                height="430"
                src="https://console.dialogflow.com/api-client/demo/embedded/c5f01535-c204-42fb-8b65-5716f40b986d"></iframe>
    </div>
    
</div>


