@*@model Domain.Customer*@
@*@model  IEnumerable<Domain.ChatBotMessage>*@
@model Domain.CustomerChat
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome @Model.Customer.FirstName</h2>

<center>
    <h3>Is something wrong with your system? Click on the button below to get started!</h3>
    <li><a asp-area="" asp-controller="Customer" asp-action="Service">Service Call</a></li>


    <h3>Just need your seasonal check up? Click on the button below to get started!</h3>
    <li><a asp-area="" asp-controller="Customer" asp-action="Checks">Seasonal Check</a></li>
</center>


<div id="conversation">
    <dl>
        @foreach (var ChatMsg in Model.ChatBotMessage)
        {
            if (ChatMsg.MessageType == Domain.BotMessageType.UserMessage)
            {
                <dt class="userRequest">@ChatMsg.ChatMessage</dt>
            }
            else
            {
                <dd class="lexResponse">@ChatMsg.ChatMessage</dd>
            }

        }
    </dl>
</div>

@using (Html.BeginForm("ProcessChatMessage", "Customer"))
{

    <input type="text" size="80" name="userMsg" placeholder="Enter Text Here" />
    @*<div class="form-control">
            <input class="form-control" name="userMsg" type="text"placeholder="Enter Chat Here" style="float:left;height:40px;z-index:-1"autofocus/>
            <a asp-action="ClearBot"class="btn btn-default" role="button" style="background-color :blue;float:right;color:yellow">Clear</a>
        </div>*@

}

