
@{
    ViewData["Title"] = "Service";
}

<h2>Service</h2>

<h3>We've already got your info from when you registered, so all you have to do is tell us which <br />
    system is down (if there is more than one system in the house) and when you would be available.<br />
    Once done, we will contact you to let you know when we will be out service your unit!</h3>

<h3>So just fill out any information youd like us to know below, and then we will contact you shortly!</h3>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <form method="get" action="simpleform.asp">
                <textarea name="ServiceForm" class="ServiceForm" rows="3" cols="40"></textarea>
                <div class="form-group">
                    <input type="submit" value="ServiceForm" class="btn btn-default" />
                </div>
            </form>
        </div>
     </div>
    <div class="col-md-4">
    </div>
</div>
                

