@{
    ViewData["Title"] = "Employees";
}
<h2>@ViewData["Title"]</h2>


<h3>A closer look at the Yawn Employees</h3>

<div class="row">
    <div class="col-md-4">
        <h2>Wesley</h2>
        <p>Bio</p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p>Picture</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Richard</h2>
        <p>Bio</p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p>Picture</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Brandon</h2>
        <p>Bio</p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p>Picture</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Guy</h2>
        <p>Bio</p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p>Picture</p>
    </div>
</div>