@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<div class="row" id="text">
    <div class="col-md-3" id="contactinfo">
        <address>
            Building<br />
            City, state, zip<br />
            <br title="Phone">P:</br>
            425.555.0100
        </address>

        <address>
            Name
            <br title="Phone">Cell:</br>
        </address>

        <address>
            Name
            <br title="Phone">Cell:</br>
        </address>

        <address>
            Name
            <br title="Phone">Cell:</br>
        </address>

        <address>
            <strong>Contact Email:</strong> EmailExample@example.com<br />
            <strong>Contact Email:</strong> EmailExample@example.com<br />
        </address>
        </div>
    <div class="col-md-3" id="contactinfo">
        </div>
    <div class="col-md-3" id="carrierPic">
        <img src="~/images/carrier.jpg" />
</div>