
@{
    ViewData["Title"] = "Services";
}

<h2>Services Offered</h2>

<center>
    <h3>We Charge Hourly at $93.00 an hour.</h3>
    <p>If you need refrigerent or parts, we can give you a price!</p>
</center>


<div class="row">
    <div class="col-md-6">
        <h3>Cooling Check's</h3><br />
        <p><strong>We offer a full scale cooling check to ensure youre ready for that Texas heat!</strong></p><br />
        <ul>
            <li>Refrigerent Level Check</li>
            <li>Condensor Capacitor Check</li>
            <li>Condensor Wash</li>
            <li>Condensation Drain Clear</li>
            <li>Cleaning/Changing of filters</li>
            <li>General Wire Check</li>
            <li>In-door Blower Capacitor Check</li>
        </ul>
        <p>
            If something doesnt meet standards, we will give you a list of options<br />
            and act accordingly! No surprise charges!
        </p>
    </div>

    <div class="col-md-6">
        <h3>Heating Check's</h3><br />
        <p><strong>We offer a full scale Heating check to ensure that Heater is ready to keep you warm!</strong></p><br />
        <ul>
            <li>Refrigerent Level Check(if you own a heat-pump)</li>
            <li>Condensor Capacitor Check(if you own a heat-pump)</li>
            <li>Condensor Wash(if you own a heat-pump)</li>
            <li>Heat-Strip amperage check(if applicable)</li>
            <li>Cleaning/Changing of filters</li>
            <li>General Wire Check</li>
            <li>In-door Blower Capacitor Check</li>
            <li>Gas Pressure Check</li>
            <li>Flame Sensor Cleaning</li>            
        </ul>
        <p>
            If something doesnt meet standards, we will give you a list of options<br />
            and act accordingly! No surprise charges!
        </p>
    </div>
</div>
    <div class="row">
        <div class="col-md-6">
            <h3>Service Call's</h3>
            <p>
                <strong>We answer any and all residential service calls!</strong><br />
                If you feel like the system in your home isnt performing as it should<br />
                or if you know something is wrong, call us! The longer you wait, the worse<br />
                the problem gets! Our licesened and professionaly trained technicians will<br />
                diagnose and alert you of any and all irregulatrities. If an action is needed<br />
                to be taken or a part must be replaced, we will tell you beforehand so no<br />
                surprise charges occur!</p>
            </div>
        <div class="col-mid-6">
            <h3>New Construction/Install's</h3>
            <p> If you're in need of a new HVAC system in your soon-to-be Home, <br />
                or you just need to have your old one replaced, give us a call! <br />
            We all know that replacing and inserting and HVAC system is tedious in many ways.<br />
            Thats why we make the process as seemless and smooth as possible. We dont charge<br />
            you for things that are unnecassary, or try and prolong the task. <br />
            <strong>
                Were fair to you, and thats how we've been in the business for so long.
            </strong></p>
        </div>
    </div>
