
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to the Admin Page. </h2>

<h2>Go to Calls</h2>

<a asp-area="" asp-controller="Admin" asp-action="CallList">Calls</a>

<h2>Go to Address Book Of Registered Customers</h2>

<button asp-area="" asp-controller="Admin" asp-action="Contacts">Contacts</button>